#define COMBO_TERM_FAST 20
#define COMBO_TERM_SLOW 35
#undef COMBO_HOOK
#define COMBO_HOOK global-quick-tap-ms = <100>;

ZMK_COMBO(esc, &kp ESC, LT3 LT2, DEFAULT, COMBO_TERM_FAST)
ZMK_COMBO(ret, &kp RETURN, LT2 LT1, DEFAULT, COMBO_TERM_FAST)
ZMK_COMBO(bspc, &kp BSPC, RT1 RT2, DEFAULT, COMBO_TERM_FAST)
ZMK_COMBO(del, &kp DEL, RT2 RT3, DEFAULT, COMBO_TERM_FAST)
ZMK_COMBO(tab, &kp TAB, LT3 LM4, DEFAULT, COMBO_TERM_FAST)
